@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 90%;
    --foreground: 20 14.3% 4.1%;
    --card: 60 33% 96%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 60 33% 96%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 28 100% 50%;
    --primary-foreground: 20 14.3% 4.1%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 180 100% 25%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 60 5.9% 85%;
    --input: 60 5.9% 85%;
    --ring: 28 100% 50%;
    --chart-1: 28 100% 50%;
    --chart-2: 180 100% 25%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 60 33% 96%;
    --sidebar-foreground: 20 14.3% 4.1%;
    --sidebar-primary: 28 100% 50%;
    --sidebar-primary-foreground: 60 9.1% 97.8%;
    --sidebar-accent: 60 56% 85%;
    --sidebar-accent-foreground: 20 14.3% 4.1%;
    --sidebar-border: 60 5.9% 85%;
    --sidebar-ring: 28 100% 50%;
  }
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 24 9.8% 10%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 28 100% 50%;
    --primary-foreground: 20 14.3% 4.1%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 180 100% 25%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 28 100% 50%;
    --chart-1: 28 100% 50%;
    --chart-2: 180 100% 25%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 24 9.8% 10%;
    --sidebar-foreground: 60 9.1% 97.8%;
    --sidebar-primary: 28 100% 50%;
    --sidebar-primary-foreground: 20 14.3% 4.1%;
    --sidebar-accent: 12 6.5% 15.1%;
    --sidebar-accent-foreground: 60 9.1% 97.8%;
    --sidebar-border: 12 6.5% 15.1%;
    --sidebar-ring: 28 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
